numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.0
matplotlib==3.7.1
seaborn==0.12.2
jupyterlab==4.0.5
notebook==7.0.3
tensorflow==2.12.0     # If using TensorFlow for deep learning models
xgboost==1.7.6         # If using XGBoost for gradient boosting
lightgbm==4.0.0        # If using LightGBM for gradient boosting
catboost==1.2          # If using CatBoost for gradient boosting
joblib==1.4.0          # For saving machine learning models
flask==3.0.0           # If building a web application
gunicorn==20.1.0       # For running the Flask app in production
requests==2.31.0       # For making HTTP requests (if necessary)
